@font-face { font-family: gideon-roman; src: url('/static/GideonRoman-Regular.ttf'); }

body {
    background-color:white;
    font-family:gideon-roman, sans-serif; 
    font-weight: bold;
}

#g_world {
    color:#4588ba;
}

.main {
    height:300px;
    color:#6c757d;
}