{% extends "layout.html" %}
{% block title %}
About
{% endblock %}

{% block main %}
<div class="main" style="margin-bottom:50px;">
  <h1 class="g_world display-1">Credits</h1>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4" style="padding:0px;">
  <div class="col">
    <div class="card h-100">
      <img src="/static/images/RM_art.png" class="card-img-top" alt="Epic RPG World Pack">
      <div class="card-body">
        <h5 class="card-title">Epic RPG World Pack - Ancient Ruins</h5>
        <p class="card-text">Create an awesome world for your RPG top-down game with this Tileset.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Author: <a href="https://rafaelmatos.itch.io/">Rafael Matos</a></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/images/cainos_basic.png" class="card-img-top" alt="Pixel Art Top Down - Basic">
      <div class="card-body">
        <h5 class="card-title">Pixel Art Top Down - Basic</h5>
        <p class="card-text">32x32 sprites and tilesets for top down games.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Author: <a href="https://cainos.itch.io/">Cainos</a></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/images/e-brod.png" class="card-img-top" alt="Pixel Art Top Down - Basic">
      <div class="card-body">
        <h5 class="card-title">Top Down RPG Enemy (Animated 8 directions)</h5>
        <p class="card-text">I created this asset as an enemy for a top-down rpg. </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Author: <a href="https://itch.io/profile/e-bros-assets">E Bros</a></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/images/warriorCredits.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Lucifer 4 Direction Warrior</h5>
        <p class="card-text">Free 4 direction warrior with 10 animations in each direction! Great for action RPG type
          games.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Author: <a href="https://foozlecc.itch.io/">FoozleCC</a></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/images/sonatina.jpeg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">RPG music pack: INFINITY CRYSTAL</h5>
        <p class="card-text">A downloadable asset pack.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Author: <a href="https://sonatina.itch.io/">Sara Garrard</a></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/images/pipoya.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">VFX Time Magic</h5>
        <p class="card-text">A downloadable asset pack.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Author: <a href="https://pipoya.itch.io/">Pipoya</a></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/images/potionsAsset.jpeg" class="card-img-top" alt="apple spites with a bonus apple tree">
      <div class="card-body">
        <h5 class="card-title">Free Paint Pixel Art Icons</h5>
        <p class="card-text">We present Free Paint Pixel Art Icon Pack. This collection contains 48 icons. Each is 32x32 in size.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Author: <a href="https://craftpix.net/">CRAFTPIX.NET</a></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/images/appleThumnail.png" class="card-img-top" alt="apple spites with a bonus apple tree">
      <div class="card-body">
        <h5 class="card-title">Apple spites with a bonus apple tree</h5>
        <p class="card-text">Three apple sprites and one apple tree.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Author: <a href="https://elenetari.itch.io/">Elenetari</a></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/images/darkWorld.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sound Effects - Survival I</h5>
        <p class="card-text">164 royalty free audio files featuring clothing, combat, destruction, environments, equipment, food, footsteps, human, medicine and tool sound effects.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Author: <a href="https://darkworldaudio.itch.io/sound-effects-survival-i">Darkworld Audio</a></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/images/cazwolf.itch.gif" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">PIXEL FANTASY RPG ICONS - Keyboard Buttons</h5>
        <p class="card-text">This is a free pack which matches the style of the other Pixel Fantasy RPG packs.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Author: <a href="https://cazwolf.itch.io/">Caz</a></small>
      </div>
    </div>
  </div>
</div>

{% endblock %}