{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}

{% block main %}
<div class="main" style="display: flex; justify-content:center;flex-direction:column;align-items:center;">
    <h1 class="g_world display-1">Home</h1>

    <div class="row"
        style="padding:5vh; margin: 15vh 2vh;display: flex; flex-direction: row;background-color: rgb(11, 11, 11, 0.7);">
        <div class="col-md-6" style="display: flex; justify-content:center;flex-direction:column;">
            <h2 style="color: rgb(209, 209, 209);font-size: 40px;">Welcome to G's World!</h2>
            <div style="color:silver;font-size:25px;">
                <style>
                    a:link {
                        color: #ffc107;
                        background-color: transparent;
                        text-decoration: none;
                    }

                    a:visited {
                        color: #ffc107;
                        background-color: transparent;
                    }

                    a:hover {
                        color: #ffdb71;
                        background-color: transparent;
                        text-decoration: none;
                    }

                    a:active {
                        color: rgb(255, 255, 219);
                        background-color: transparent;
                        text-decoration: none;
                    }
                </style>
                G's World is a small videogame initially made for a project, and now published publically for anyone
                to explore and experience this short interactive story. <br>
                Know more about it <a href="/about">here</a>.
            </div>
        </div>
        <div class="col-md-6" style="display: flex; align-items:center;justify-content: center;">
            <video height="300" controls loop autoplay>
                <source src="/static/images/Small video for website.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div
        style="color:silver;width:90%;display: flex;flex-direction: column;justify-content: center;background-color: rgb(11, 11, 11, 0.7);padding:20px;">
        <h2 style="color: white;">Tips</h2>
        <ul style="text-align: left;font-size:25px;">
            <li>Creating an account is mandatory to play the game, there is no data being collected and the password is
                encoded before being stored in the database. However, there is no way to change your password or retrieve a
                user name so don't forget it.</li>
            <li>Press 'esc' and the "Save" button to save your progress and to ensure that you don't have to start over if you
                die or get disconnected.</li>
            <li>Remember this game is a project made by one person so some details are not as elaborate as other bigger
                games, but if you encounter a bug, don't hesitate to get in contact with me.</li>
        </ul>
    </div>
    
    <div style="margin-top: 10vh;color:silver;border-radius: 100px; display:flex;flex-direction:row;justify-content:center;background-color:rgb(11, 11, 11, 0.7);padding:20px;">
        <a href="https://discord.com/channels/Guida#8794"><img src="/static/images/discord.svg" class="sm_icons"></a>
        <a href="https://twitter.com/Guiller97961238"><img src="/static/images/twitter.svg" class="sm_icons"></a>
        <a href="https://www.linkedin.com/in/guillermo-lopez-1a1540156/"><img src="/static/images/linkedin.svg" class="sm_icons"></a>
    </div>
</div>

{% endblock %}