{% extends "layout.html" %}
{% block title %}
Updates
{% endblock %}
{% block main %}
<script>
    document.getElementById('contenedor').style.height='2000';
</script>

<div class="main" style="flex-direction: column;">
    <h1 class="g_world display-1">Updates</h1>

    <!--         Aug 10th, 2022                       -->
    <div class="update_wraper">
        <div class="update">
            <div class="update_date">Aug 10th, 2022</div>
            <div class="update_title">Day and Night at G's</div>
            <div class="update_capsule">
                <ul class="update_list">
                    <li class="update_list_item">There is a global Time now, day and night effect and it impacts on some mecanics of the game.</li>
                    <li class="update_list_item">Time gets saved before disconnecting, so next time you come back it feels like you never left.</li>
                </ul>
            </div>
        </div>
    </div>

    <!--         Aug 8th, 2022                       -->
    <div class="update_wraper">
        <div class="update">
            <div class="update_date">Aug 8th, 2022</div>
            <div class="update_title">The biggest so far!</div>
            <div class="update_capsule">
                <ul class="update_list">
                    <li class="update_list_item">Changed the character sprite and added attack animations.</li>
                    <li class="update_list_item">Added the loading screen for the game and some ease-in animations to improve user experience.</li>
                    <li class="update_list_item">Fixed: Bugs where collision with objects was making impossible reaching certain areas of the map.</li>
                </ul>
            </div>
        </div>
    </div>

    <!--         Aug 7th, 2022                       -->
    <div class="update_wraper">
        <div class="update">
            <div class="update_date">Aug 7th, 2022</div>
            <div class="update_title">A Beacon of Hope</div>
            <div class="update_capsule">
                <ul class="update_list">
                    <li class="update_list_item">Thanks to the work of the sendBeacon API collecting data from the game just got crazy easy!</li>
                </ul>
            </div>
        </div>
    </div>

    <!--         Aug 6th, 2022                       -->
    <div class="update_wraper">
        <div class="update">
            <div class="update_date">Aug 6th, 2022</div>
            <div class="update_title">Backend</div>
            <div class="update_capsule">
                <ul class="update_list">
                    <li class="update_list_item">Reworked ways to save data and load it from the database once the game starts.</li>
                    <li class="update_list_item">Fixed: Bugs where player was showing on top of objects while walking behind them.</li>
                </ul>
            </div>
        </div>
    </div>

    <!--         Aug 4th, 2022                       -->
    <div class="update_wraper">
        <div class="update">
            <div class="update_date">Aug 4th, 2022</div>
            <div class="update_title">Solving bugs</div>
            <div class="update_capsule">
                <ul class="update_list">
                    <li class="update_list_item">Fixed: Bugs where the images weren't loading resulting in no map or no player.</li>
                    <li class="update_list_item">Fixed: Bugs where some information was not arriving completaly to the database.</li>
                </ul>
            </div>
        </div>
    </div>

    <!--         Aug 3th, 2022                       -->
    <div class="update_wraper">
        <div class="update">
            <div class="update_date">Aug 3th, 2022</div>
            <div class="update_title">Database Baby 2!</div>
            <div class="update_capsule">
                <ul class="update_list">
                    <li class="update_list_item">Created a progress mecanism to save user data.</li>
                </ul>
            </div>
        </div>
    </div>

    <!--         Aug 2nd, 2022                       -->
    <div class="update_wraper">
        <div class="update">
            <div class="update_date">Aug 2nd, 2022</div>
            <div class="update_title">Database Baby!</div>
            <div class="update_capsule">
                <ul class="update_list">
                    <li class="update_list_item">Created the Backend part of the game where now user can register for an account and login or out.</li>
                    <li class="update_list_item">Welcome Python to G's World!!.</li>
                </ul>
            </div>
        </div>
    </div>

    <!--         Aug 1st, 2022                       -->
    <div class="update_wraper">
        <div class="update">
            <div class="update_date">Aug 1st, 2022</div>
            <div class="update_title">Polishing the world!</div>
            <div class="update_capsule">
                <ul class="update_list">
                    <li class="update_list_item">Fixed: Bugs where player's animations weren't displaying correctly.</li>
                    <li class="update_list_item">Added apples all over the map. Why? Who knows perhaps for lunch later.</li>
                </ul>
            </div>
        </div>
    </div>

    <!--         July 31st, 2022                       -->
    <div class="update_wraper">
        <div class="update">
            <div class="update_date">July 31st, 2022</div>
            <div class="update_title">First Commit!</div>
            <div class="update_capsule">
                <ul class="update_list">
                    <li class="update_list_item">Uploaded project to Github for better saving of the work.</li>
                    <li class="update_list_item">Fixed: Bugs where player would get stuck when walking by certain objects.</li>
                </ul>
            </div>
        </div>
    </div>

    <!--         July 29th, 2022                       -->
    <div class="update_wraper">
        <div class="update">
            <div class="update_date">July 29th, 2022</div>
            <div class="update_title">Pixels everywhere!</div>
            <div class="update_capsule">
                <ul class="update_list">
                    <li class="update_list_item">Implementing collisions and user imput for moving the character.</li>
                    <li class="update_list_item">Added new stuff to the map.</li>
                </ul>
            </div>
        </div>
    </div>

    <!--         July 26th, 2022                       -->
    <div class="update_wraper">
        <div class="update">
            <div class="update_date">July 29th, 2022</div>
            <div class="update_title">Day 1</div>
            <div class="update_capsule">
                <ul class="update_list">
                    <li class="update_list_item">Created the map for the game.</li>
                    <li class="update_list_item">Downloaded content to implement player clases and enemies.</li>
                </ul>
            </div>
        </div>
    </div>

</div>


{% endblock %}