{% extends "layout.html" %}
{% block title %}
Updates
{% endblock %}
{% block main %}
<div class="main">
    <h1 class="g_world">Updates</h1>
    <div class="container">
        <div class="row" style="margin:0 20px;height:100px;">
            <div class="col-2">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
                </div>
            </div>
            <div class="col-8">
                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                    class="scrollspy-example" tabindex="0">
                    <h4 id="list-item-1">Item 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat varius arcu vitae blandit.
                        Nunc egestas, ex non pretium iaculis, diam turpis laoreet dolor, vitae cursus nunc elit a
                        ligula. Nullam elit eros, auctor vel sodales condimentum, lobortis vel velit. Donec dignissim
                        eros velit, in imperdiet diam pharetra vel. Mauris mollis, odio non auctor fringilla, metus
                        augue feugiat neque, in tempus nisi nisi a sem. Etiam non felis sit amet ex sodales
                        sollicitudin. Phasellus justo leo, lobortis et nibh eget, pellentesque eleifend est. Nam
                        tincidunt neque vel pharetra ornare. Vestibulum semper urna eget sapien iaculis placerat.
                        Maecenas id erat non risus accumsan rhoncus et quis mi. Nulla congue orci at neque laoreet,
                        vitae vehicula libero dapibus. Morbi finibus ex feugiat arcu interdum, sed malesuada ex
                        interdum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                        egestas. Proin malesuada ante vel convallis porttitor. Aliquam non varius elit. Nullam rutrum
                        metus sem, vel luctus mauris placerat porta.</p>
                    <h4 id="list-item-2">Item 2</h4>
                    <p>Aliquam mi sapien, porta et nisl ut, dignissim viverra velit. Duis non orci ut metus dignissim
                        tempus nec sit amet lectus. Sed rutrum tellus tortor, et finibus odio commodo vitae. Etiam
                        bibendum leo in purus aliquet, a luctus ante fermentum. Donec sapien nulla, tincidunt non mi
                        vel, tristique ornare nisl. Nam placerat vestibulum imperdiet. Vivamus nunc lacus, tempor
                        efficitur maximus in, venenatis at sapien. Donec laoreet massa elit, ac molestie nibh molestie
                        eu. Aliquam vitae lacinia erat. Donec nibh lectus, rhoncus in blandit at, dapibus eget ante.
                        Duis sed odio eros. Praesent varius libero nunc, sed convallis arcu vehicula eget. Pellentesque
                        arcu lorem, ullamcorper vel massa ut, ornare commodo ligula. In iaculis magna at metus laoreet,
                        at lacinia est suscipit. Praesent luctus, orci id efficitur tempor, risus lacus cursus elit,
                        interdum tincidunt felis massa eu lorem. Maecenas facilisis nisl odio, vel elementum diam tempor
                        sit amet.</p>
                    <h4 id="list-item-3">Item 3</h4>
                    <p>Phasellus sed quam sit amet odio molestie tempus sit amet sit amet mi. Phasellus feugiat, metus
                        non vestibulum feugiat, elit erat gravida erat, nec consectetur ipsum nulla et enim. Donec
                        faucibus pretium sollicitudin. Vestibulum posuere elit in accumsan ullamcorper. Cras in nisl
                        eleifend, iaculis mauris id, elementum odio. Aliquam lacinia tincidunt ligula eu egestas. Nullam
                        sit amet nisl tellus.</p>
                    <h4 id="list-item-4">Item 4</h4>
                    <p>Nullam velit quam, malesuada eget nibh vel, rhoncus venenatis enim. Cras vehicula ut sapien ut
                        molestie. Donec vitae odio imperdiet odio tincidunt feugiat nec sit amet lacus. Donec quis
                        ullamcorper ligula. Vivamus lacinia consequat tincidunt. Phasellus a aliquam orci. Donec
                        suscipit feugiat augue, id pharetra purus fringilla a. Pellentesque sed purus velit. Vivamus
                        tristique varius lacinia. Quisque pellentesque dapibus urna eget eleifend. Nam viverra rutrum
                        lorem, id consectetur urna mollis id. Cras elementum arcu ac vulputate consequat.</p>
                </div>
            </div>
            <footer class="mb-5 small text-center text-muted">
                <p>
                    &#169; 2022 Guillermo Lopez. All rights reserved.
                </p>
            </footer>
        </div>
    </div>

</div>


{% endblock %}